{% extends 'food/base.html' %}

{% block content %}

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <ul class="list-group" id = "item_list">

                </ul>
            </div>
        </div>
    </div>
{#{% endblock %}#}
<script type="text/javascript">
    if (localStorage.getItem('cart') == null) {  // check if local storage is empty
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));

    }
    for (item in cart){
        let name = cart[item][1]; //extracting the name (name at index '1')
        let quantity = cart[item][0]; // extracting the quantity/based on item index

        itemString = `<li class= "list-group-item">${name}-${quantity}</li>` // creating a list group
         $('#item_list').append(itemString);
    }

</script>
{% endblock %}